/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body, html{
	margin:0 auto;
	padding:0;

}

/* #Page Styles
================================================== */
/*---------------home page------------------------*/
.picture-slide{
	position:absolute;
	margin-top:50px;
	width:100%;
	height:640px;
	background-color:rgba(165,196,241,1);
}
#slider-content{
	margin-top:50px;
	height:640px;
}

#logo{
	position:relative;
	top:35px;
}

/*------------navigation-------------------------*/

.nav-container{
	width:940px;
	height:auto;
	margin:0 auto;
}

.nav-wrap{float:right;}

#ad-nav, #gd-nav, #wd-nav, #rsrc-nav, #cont-nav {
	border-right:solid 1px #ccc;
	padding-right:10px;
	padding-left:10px;
	float:left;
}

#cont-nav{border:0;padding-right:0;}
/*------------------place holder styles----------------*/

#home-nav, #ad-nav, #gd-nav, #wd-nav, #rsrc-nav, #cont-nav{

}
#home-footer, #ad-footer, #gd-footer, #wd-footer, #rsrc-footer, #dsktop-footer, #faq-footer{
	
}


#register{background-color:rgb(247,247,247);}

/*------------register content------------------*/



.right{float:right;}

/*-------------footer------------------------------*/
footer{
	width:100%;
	height:auto;
	padding-bottom:100px;
}

ul{list-style-type:none;}

footer ul{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
}

h4 span{display:block;}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/