#ad-head{
	padding-top:45px;
	color:#8d3290;
}

.picture-slide{

	border-top:solid 8px #8d3290;

}

#diagonal-tag{
	position:relative;
	background-color:red;

}

#diagonal-tag h1{
	
	color:white;
	font-weight:normal;
	
	text-align:center;
	padding-top:10px;
	padding-bottom:5px;
	width:280px;

	position:absolute;
	top:45px;
	left:550px;



	border-left: 40px solid transparent; 
    border-bottom: 40px solid #8d3290;
    height:0;

	
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg); 
}

#where-now h1{font-size:12pt;}
#brands img{width:100%;height:auto;}

p{font-family:'Helvetica','Arial', sans-serif;}

blockquote{font-family: 'Helvetica','Arial', sans-serif;padding-left:55px;}

#quote blockquote{background:url(../img/quotes.png) left top no-repeat;}