
.ad-banner{
	width:100%;
	height:200px;
	background-color:#5a308d;
}

.ad-banner h1, h2{
	text-align:center;
	color:white;
	font-weight:normal;
	letter-spacing:2px;
	-webkit-margin-before:0;
	-webkit-margin-after: 0;
	text-indent: 0;
}

.ad-banner h1{
	font-family:'Myriad Pro';
	padding-top:70px;
}
.ad-banner img{
	position:relative;
	bottom:115px;
	left:450px;
}

.major-bg{
	background-color:#5a308d;
	color:#fff;
	padding-left:5px;
}
p span{font-weight:bold;}

#column-right{float:right;padding-top:55px;}

#column-right img{padding-top:10px;}

#pic-text{
-webkit-margin-before:0;
-webkit-margin-after:0;
}